body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #000;
  background: linear-gradient(135deg, #007bff, #00c6ff);
}

input {
  padding: 10px 14px;
  border: 2px solid #d0d7de;
  border-radius: 10px;
  outline: none;
  margin-right: 10px;
  font-size: 14px;
}


button {
  padding: 10px 14px;
  border: none;
  background: #005ed8;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #0041a8;
  transform: translateY(-2px);
}

.container {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}


.gridcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
}


.maincontainer {
  background: white;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 6px 15px rgba(0,0,0,0.12);

  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;

  overflow: hidden; 
}

.maincontainer img {
  width:   170px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}


.maincontainer p,
.maincontainer h4 {
  margin: 0;
  font-size: 14px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}